name: build

on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    steps:
    
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Setup Java JDK
        uses: actions/setup-java@v5.0.0
        with:
          distribution: microsoft
          java-version: 21

      - name: Gradle Build Action
        uses: gradle/actions/setup-gradle@v5.0.0
      
      - name: Build plugin
        run: ./gradlew buildPlugin
      
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: mybatisuite
          path: build/distributions/
